<div class="container xl">
    <div class="row xl bg-info">
        <div class="col xl">
            ジャンル検索
        </div>
        <div class="col bg-info">
            <h3>商品一覧<span class="small">(全<%= @products.count %>件)</span></h3>
            <div class="d-flex flex-wrap">
                <% @products.each do |product| %>
                    <%= link_to product_path(product.id) do %>
                        <div class=""><%= attachment_image_tag product, :image, size: "200x200", fallback:"no_image.png" %></div>
                        <div class=""><%= product.name %></div>
                    <% end %>
                    <div class=""><%= number_to_currency(product.price,:precision =>0, :format=>"%n%u", :unit=>"円") %>（税抜き）</div>
                <% end %>
            </div>
        </div>
    <%= paginate @products %>
    </div>
</div>
