<div class="container-xxl">
    <div class="row">
        <div class="col">
            ジャンル検索
            
        </div>
        <div class="col-xs-7 ">
             <h3>商品一覧<span class="small">(全<%= @products.count %>件)</span></h3>
            <div class="d-flex flex-wrap">
                <% @products.each do |product| %>
                <div class="card" style="width: 18rem;">
                    <%= link_to product_path(product.id) do %>
                        <div class="card-img-top"><%= attachment_image_tag product, :image, size: "200x200", fallback:"no_image.png" %></div>
                        <div class="card-body"><%= product.name %></div>
                    <% end %>
                    <div class="card-text"><%= number_to_currency(product.price,:precision =>0, :format=>"%n%u", :unit=>"円") %>（税抜き）</div>
                <% end %>
            </div>
        </div>
    </div>
    
    
