


<div class="container">
  <h1>会員一覧</h1>
 <table class="table table-hover m-5">
    <thead>
      <tr>
        <th scope="col">会員ID</th>
        <th scope="col">氏名</th>
        <th scope="col">メールアドレス</th>
        <th scope="col">ステータス</th>
      </tr>
    </thead>
    <% @customer.each do |costomer| %>
    <tbody>
      <tr>
        <th scope="row"><%= costomer.id %></th>
        <td><%= link_to costomer.first_name + costomer.last_name,admin_customer_path(costomer.id) %></td>
        <td><%= costomer.email %></td>
        <td><%= costomer.is_deleted %></td>
      </tr>
    </tbody>
    <% end %>
 </table>
 </div>




<%= paginate @customer%>

<!-- kaminariが使えない-->