<div class="container">
  <div class="row">
    <div class="col-10">
       <h1 class="itiran">注文画面一覧</h1>
       <h4>＼<span class="blank">下に表示されていますのでご確認ください⬇</span>／</h4>
       <table class="table table-bordered">
        <thead>
            <tr>
            　<th class="detail-thead">購入日時</th>
            　<th class="detail-thead">購入者</th>
            　<th class="detail-thead">注文個数</th>
            　<th class="detail-thead">ステータス</th>
            </tr>
          </thead>
          <!--ここにいーち-->
          <tbody>
              <td class="detail-tbody"><%= @order.update_at.strftime("%Y/%m/%d %H:%M") %></td>
            　<td class="detail-tbody"><%= @order.name %></td>
            　<td class="detail-tbody"><%= order_details.quantity %></td>
            　<td class="detail-tbody">
            　    <%= form_with model: detail, url: admin_order_ditails_path do |f| %>
　                  <%= f.select :making_status, Order_Detail.making_statuses.{}%>
　                  <%=f.submit "更新" %>
　                <% end %>
　           </td>
          </tbody>
        </table>
    </div>   
  </div>
</div>
<style>
    body{
        background-color:#422814;
    }
    .itiran{
        background:green;
        color:white;
        margin-top:35px;
        margin-bottom:30px;
    }
    h4{
        color: orange;
    }
    .blank{
        -webkit-animation: blink 1s ease-in-out infinite alternate;
        animation: blink 1s ease-in-out infinite alternate;
        color:coral;
    }
    @-webkit-keyframes blink{
        0% {opacity: 0;}
        100% {opacity: 1;}
    }
    .detail-thead {
        text-align:center;
        background: -webkit-gradient(linear, left top, left bottom, from(#422814), to(gray));
        background: linear-gradient(silver, gray);
        color: snow;
    }
    .detail-tbody {
        background-color: snow;
        color: green;
    }
</style>
