<div class="container">
  <div class="row">
  <h3>注文履歴詳細</h3>
  <table class="table">
　    <tr>
　      <td>購入者</td>
　      <td><%= link_to admin_customer_path(@order.order.id) do %>
　          <%= @order.name %>
　          <% end %>
　      </td>
　     </tr>
　     <tr>
　       <td>注文日</td>
　       <td><%= @order.created_at.strftime("%Y/%m/%d %H:%M") %></td>
　     </tr>
　     <tr>
　         <td>配送先</td>
　         <td><%= @order.addresses_name %></td>
　     </tr>
　     <tr>
　         <td>注文ステータス</td>
　         <td>
　             <%= form_with model: @order, url: admin_order_detail, method: :patch, local: true do |f| %>
　             <%= f.select :status, Order.order_status.keys.to_a %>
　             <%= f.submit '更新', class: "btn btn-success btn-sm" %>
　             <% end %>
　         </td>
　     </tr>
　 </table>
　    <table class="table">
　      <thead>
　        <tr>
　            <th>商品名</th>
　            <th>単価</th>
　            <th>数量</th>
　            <th>小計</th>
　            <th>制作ステータス</th>
　        </tr>
　       </thead>
　        <% @order.order_details.each do |order_detail| %>
　        <tr>
　            <td><%= order_detail.product_id %></td>
　            <td><%= (order_detail.order_id * 1.1).round(0) %></td>
　            <td><%= order_detail.quantity %></td>
　            <td><%= (order_details.purchase_price * 1.1) %></td>
　            <td>
　                <%= form_with model: detail, url: admin_order_ditails_path do |f| %>
　                  <%= f.select <%= f.select :status, OrderDetail.making_status.keys.to_a %>
　                  <%=f.submit "更新", class: "btn btn-success btn-sm" %>
　         <% end %>
　            </td>
　          </tr>
　        <% end %>
　    </table>
　  </div>
　  <!--商品値段-->
　  <div class="col-4">
　    <table class="table">
　      <!--商品合計-->
　      <% total= 0 %>
　      <% @order.each do |order| %>
　      <% total = total + ((product.price * 1.1).round(0) * product.amount) %>
　      <tr>
　        <td>商品合計</td>
　        <td><% total %>円</td>
　      </tr>
　      <tr>
　        <td>送料</td>
　        <td><%= @order.postage%>円</td>
　      </tr>
　      <tr>
　        <td>請求金額</td>
　        <td><% @order.total_payment%>円</td>
　      </tr>
　    </table>
　      <% end %>
　  </div>
　</div>
</div>