<h2>ログイン</h2>
<h5>会員の方はこちらからログイン</h5>

<table>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <tr>
    <td>メールアドレス</td>
    <td><%= f.email_field :email %></td>
  </tr>
  <tr>
    <td>パスワード</td>
    <td><%= f.text_field :encrypted_password %></td>
  </tr>
  <tr>
    <td></td>
    <td><%= f.submit "ログイン" %></td>
  </tr>
  <% end %>
</table>

<div>
  <h5>会員登録がお済みでない方</h5></br>
  <%= link_to "こちら", new_customer_registration_path %>から新規登録を行ってください。
</div>