<h2>ログイン</h2>
<h5>会員の方はこちらからログイン</h5>


  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= render "public/customers/shared/error_messages", resource: resource %>

    メールアドレス
    <%= f.email_field :email %>

    パスワード
    <%= f.text_field :password %>
    <%= f.submit "ログイン" %>
  <% end %>

<div>
  <h5>会員登録がお済みでない方</h5></br>
  <%= link_to "こちら", new_customer_registration_path %>から新規登録を行ってください。
</div>