<div class="container">
     <div class="row justify-content-center">
      <div class="col-mt-5 ">
          <h4>商品編集</h4>

          <%= form_with model:@product,url:admin_product_path,method: :PATCH,local:true do |f| %>
              <table class="new-form-table text-align">
                <tbody>
                  <tr>
                    <th>商品画像</th>
                    <td><%=  f.attachment_field :image %></td>
                  </tr>

                  <tr>
                    <th>商品名</th>
                    <td><%= f.text_field :name,class: "form-control ml-5" %></td>
                  </tr>

                  <tr>
                    <th>商品説明</th>
                    <td><%= f.text_area :introduction,class: "form-control ml-5" %></td>
                  </tr>

                   <tr>
                    <th class:'control-label'>ジャンル</th>
                    <td><%= f.select :genre_id, Genre.all.map { |genre| [genre.name, genre.id] } ,include_blank: "--選択して下さい--",class: "form-select"%></td>
                  </tr>
                   <tr>
                    <th>価格</th>
                    <td><%= f.number_field :price,class: "form-control ml-5" %></td>
                  </tr>
                   <tr>
                    <th>販売ステータス</th>

                    <td><%= f.label :販売中 %>
                        <%= f.radio_button :is_sale,:true %></td>
                        <!--販売中【0】-->
                        <td><%= f.label :販売停止 %>
                        <%= f.radio_button :is_sale,:false %></td>
                        <!--販売停止【1】-->
                    
                    
                  </tr>

                 </tbody>
                </table>
                  <div class="text-right">
                    <%= f.submit "編集" ,class: "btn btn-primary text-center" %>
                 </div>
              </div>
          <% end %>
    </div>
</div>
