<div class="container">
     <div class="row">
      <div class="col-mt-5 ">
          <h1>商品登録</h1>

          <%= form_with model: @new_product,url:admin_products_path,method: :post,local:true do |f| %>
              <table class="new-form-table text-align">
                <tbody class:'form-control ml-5'>
                  <tr>
                    <th>商品画像</th>
                    <td><%=  f.attachment_field :image,class: "ml-5"%></td>
                  </tr>

                  <tr>
                    <th>商品名</th>
                    <td><%= f.text_field :name,class: "form-control ml-5" %></td>
                  </tr>

                  <tr>
                    <th>商品説明</th>
                    <td><%= f.text_area :introduction,class: "form-control ml-5" %></td>
                  </tr>

                   <tr>
                    <th>ジャンル</th>
                    <td><%= f.select :genre_id, Genre.all.map { |genre| [genre.name, genre.id] } ,include_blank: "--選択して下さい--",class: "ml-5"%></td>
                    
                  </tr>
                  
                   <tr>
                    <th>価格</th>
                    <td><%= f.number_field :price,class: "form-control ml-5" %></td>
                  </tr>
                   <tr>
                    <th>販売ステータス</th>
                    <td><%#= f.select :is_sale,{'販売中': true, '販売': fulse},include_blank: "--選択して下さい--",class: "ml-5"%></td>
                  </tr>

                 </tbody>
                </table>
                  <div class="text-right">
                    <%= f.submit "新規登録" ,class: "btn btn-primary text-center" %>
                 </div>
              </div>
          <% end %>
    </div>
</div>
