<div class="container">
  <div class="row">
    <div class="col">
      <h5>マイページ</h5>
      <div class="index">
        <p class="index_left">登録情報</p>
        <%= link_to "編集する", edit_customer(@customer.id) %>
      </div>
      <table>
        <tr>
          <td>氏名</td>
          <td><%= @customer.first_name %><%= @customer.last_name %></td>
        </tr>
        <tr>
          <td>カナ</td>
          <td><%= @customer.first_name_kana %><%= @customer.last_name_kana %></td>
        </tr>
        <tr>
          <td>郵便番号</td>
          <td><%= @customer.postal_code %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <td>電話番号</td>
          <td><%= @customer.phone_number %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @customer.email %></td>
        </tr>
      </table>
      <div class="index">
        <p class="index_left">配送先</p>
        <%= link_to "一覧を見る", address_index_path(@customer.id) %>
      </div>
      <div class="index">
        <p class="index_left">注文一覧</p>
        <%= link_to "一覧を見る", order_detail_path(@customer.id) %>
      </div>
    </div>
  </div>
</div>