<div class="container">

  <h1>注文履歴詳細</h1>
  <% @sum = 0 %>

  <div class="row">
    <div class="col-md-7">
      <h4>注文情報</h4>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td>注文日</td>
            <td><%= @order.created_at.strftime("%Y/%m/%d") %></td>
          </tr>
          <tr>
            <td>配送先</td>
            <td>
            〒<%= @order.postal_code %><br />
            <%= @order.addresses_name %><br />
            <%= @order.name %>
            </td>
          </tr>
          <tr>
            <td>支払方法</td>
            <td><%= @order.payment_method %></td>
          </tr>
          <tr>
            <td>ステータス</td>
            <td><%= @order.order_status_i18n %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-5">
      <h4>請求情報</h4>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td>商品合計</td>
            <td><%= @order.total_payment - 800 %></td>
          </tr>
          <tr>
            <td>配送料</td>
            <td><%= 800 %></td>
          </tr>
          <tr>
            <td>ご請求額</td>
            <td><%= @order.total_payment %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9">
      <h4>注文内容</h4>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>商品</th>
            <th>単価(税込)</th>
            <th>個数</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
        <% @order_details.each do |order| %>
        <tr>
          <td><%= order.product.name %></td>
          <td><%= number_to_currency(order.product.price * 1.1, unit: "", format: "%n %u",strip_insignificant_zeros:true) %></td>
          <td><%= order.quantity %></td>
          <td><%= number_to_currency(order.product.price * order.quantity * 1.1, unit: "", format: "%n %u",strip_insignificant_zeros:true) %></td>
          <% @sum += order.product.price * order.quantity * 1.1 %>
        </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>

