<h1>注文情報確認画面</h1>
<% @sum = 0 %>
<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
    <% @order_details.each do |detail| %>
    <tr>
      <td><%= detail.products.name %></td>
      <td><%= detail.purchase_price %></td>
      <td><%= detail.quantity %></td>
      <td><%= @sum + detail.purprice * detail.quantity %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<table>
  <tr>
    <td>送料</td>
    <td>800</td>
  </tr>
  <tr>
  <%# 上記tableの小計欄にsumをたして商品合計で@sumを表示することで合計金額とする。 %>
    <td>商品合計</td>
    <td><%= @sum  %></td>
  </tr>
  <tr>
    <%# @sumと送料をたした金額　もしくは新しい変数(=0)を使用する %>
    <td>請求金額</td>
    <td><%= @sum + 800 %></td>
  </tr>
</table>

  <%# newページのform_withの値（未記録）をそのまま使う %>
<h2>支払方法</h2>
<%= @order_details.order.payment_method %>

<h2>お届け先</h2>
<%= @order_details.order.postal_code %><%= @order_details.order.addresses_name %><br />
<%= @order_details.order.customer_id %>

<%= link_to "注文を確定する", order_details_thanks_path, class: "btn btn-success %>