<div class="container">
  <h1>注文情報入力</h1>
  <%= form_with model:@order, url: orders_confirm_path, local:true do |f| %>

    <h4>支払い方法</h4>
    <div class="form">
      <%= f.radio_button :payment_method, "クレジットカード" %>
      <%= f.label :クレジットカード %><br />
      <%= f.radio_button :payment_method, "銀行振込" %>
      <%= f.label :銀行振込 %>
    </div>

    <h4>お届け先</h4>
    <div class="form">
      <%= f.radio_button :address_option, "0" %>ご自身の住所
      <div class="mrg">
        〒<%= @customer.postal_code %>
        <%= @customer.address %><br />
        <%= @customer.full_name %>
      </div>
    </div>

    <div class="form">
      <%= f.radio_button :address_option, "1" %>登録済住所から選択
      <div class="mrg">
        <%= f.collection_select(:addresses_id, current_customer.addresses, :id, :full_address) %>
      </div>
    </div>

    <div class="form">
      <%= f.radio_button :address_option, "2" %>新しいお届け先
      <div class="mrg">
        <p>
          郵便番号(ハイフンなし)
          <%= f.text_field :postal_code, placeholder: "0000000" %>
        </p>
        <p>
          住所
          <%= f.text_field :addresses_name, placeholder: "東京都渋谷区代々木神園町0-0", size:"90px" %>
        </p>
        <p>
          宛名
          <%= f.text_field :name, placeholder: "令和道子" %>
        </p>
      </div>
    </div>

    <div class="center">
      <%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
    </div>

  <% end %>
</div>>

