<!DOCTYPE html>
<html>
  <head>
    <title>Naganokaki</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container">
          <%= link_to root_path do %>
            <% image_tag 'logo_image.png', size: "60x60" %>
          <% end %>
          <button class="navbar-toggler" type="button" date-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
       <%#　ーーーー カスタマー側ヘッダー ーーーーー%>
          <% if customer_signed_in? %>
            <div class="navbar-collapse collapse show" id="navbarNavDropdown">
            <h6 class="ml-5 text-white">ようこそ、<%= current_customer.first_name %>さん！</h6>
              <ul class="navbar-nav ml-auto nav">
                <li　class="btn1" id="icon">
                  <i class="fas fa-address-card" style="color:white;"></i><%= link_to "マイページ", customer_path(current_customer.id), class: 'navbar-brand' %>
                </li>
                <li　class="btn1" id="icon">
                  <i class="fas fa-cheese" style="color:white;"></i><%= link_to "商品一覧", products_path, class: 'navbar-brand' %>
                </li>
                <li　class="btn1" id="icon">
                  <i class="fas fa-shopping-cart" style="color:white;"></i><%= link_to "カート", new_cart_path, class: 'navbar-brand' %>
                </li>
                <li　class="btn1" id="icon">
                  <i class="fas fa-sign-out-alt" style="color:white;"></i><%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: 'navbar-brand' %>
              </ul>
               <%= form_with url:search_path, method: :get, local:true do |f| %>
                <%= f.text_field "search[value]", placeholder: "Search" %>
                <%= f.select "search[how]", options_for_select({完全一致: :"match", 部分一致: :"partical"}) %>
                <%= f.submit "検索" %>
              <% end %>
            </div>
            <%#　ーーーー 管理側ヘッダー ーーーーー%>
          <% elsif admin_signed_in? %>
           <div id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto nav">
                <li　class="btn1">
                  <%= link_to "商品一覧", admin_products_path, class: 'navbar-brand' %>
                </li>
                <li　class="btn1">
                  <%= link_to "会員一覧", admin_customers_path , class: 'navbar-brand' %>
                </li>
                <li　class="btn1">
                  <%= link_to "注文商品一覧", admin_order_details_path, class: 'navbar-brand' %>
                </li>
                <li　class="btn1">
                  <%= link_to "ジャンル一覧", admin_genres_path, class: 'navbar-brand' %>
                </li>
                <li　class="btn1">
                  <%= link_to "ログアウト",destroy_admin_session_path,method: :delete,class: 'navbar-brand' %>
                </li>
              </ul>
              <%= form_with url:admin_searches_searches_path, method: :get, local:true do |f| %>
                <%= f.text_field "search[value]", placeholder: "Search" %>
                <%= f.select "search[how]", options_for_select({完全一致: :"match", 部分一致: :"partical"}) %>
                <%= f.submit "検索" %>
              <% end %>
            </div>
              <%#　ーーーー どちらでもないヘッダー ーーーーー%>
          <% else %>
            <div class="navbar-collapse collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto nav">
                <li　class="btn">
                  <%= link_to "About", homes_about_path, class: 'navbar-brand' %>
                </li>
                <li　class="btn" id="icon">
                  <i class="fas fa-cheese" style="color:white;" ></i><%= link_to "商品一覧", products_path, class: 'navbar-brand' %>
                </li>
                <li　class="btn" id="icon">
                  <i class="fas fa-user-edit" style="color:white;"></i><%= link_to "新規登録", new_customer_registration_path, class: 'navbar-brand' %>
                </li>
                <li　class="btn" id="icon" style="color:white;">
                  <i class="fas fa-sign-in-alt"></i><%= link_to "ログイン", new_customer_session_path, class: 'navbar-brand' %>
                </li>
              </ul>
            </div>
          <% end %>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>


<style>
footer {
  background: #343a40;
  height: 70px;
  width: 100%;
}

.right{
  color:white;
  text-align: center;
  line-height: 70px;
}

.icon {
 color:white;
}
</style>