<!DOCTYPE html>
<html>
  <head>
    <title>Naganokaki</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="navbar navbar-expand-lg">
        <div class="container">
          <%= link_to "LOGO", class: 'navbar-brand' %>


       <%#　ーーーー カスタマー側ヘッダー ーーーーー%>
          <% if customer_signed_in? %>
            <div id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto nav">
                <li　class="btn1">
                  <%= link_to "マイページ", class: 'navbar-brand' %>
                </li>
                <li　class="btn1">
                  <%= link_to "商品一覧", class: 'navbar-brand' %>
                </li>
                <li　class="btn1">
                  <%= link_to "カート", class: 'navbar-brand' %>
                </li>
                <li　class="btn1">
                  <%= link_to "ログアウト", class: 'navbar-brand' %>
                </li>
              </ul>
            </div>
          <% else %>
            <div id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto nav">
                <li　class="btn">
                  <%= link_to "About", class: 'navbar-brand' %>
                </li>
                <li　class="btn">
                  <%= link_to "商品一覧", class: 'navbar-brand' %>
                </li>
                <li　class="btn">
                   <%= link_to "新規登録", class: 'navbar-brand' %>
                </li>
                <li　class="btn">
                  <%= link_to "ログイン", class: 'navbar-brand' %>
                </li>
              </ul>
            </div>
          <% end %>

          <%#　ーーーー 管理側ヘッダー ーーーーー%>
          <% if admin_signed_in? %>
            <div id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto nav">
                <li　class="btn1">
                  <%= link_to "マイページ", class: 'navbar-brand' %>
                </li>
                <li　class="btn1">
                  <%= link_to "商品一覧", class: 'navbar-brand' %>
                </li>
                <li　class="btn1">
                  <%= link_to "カート", class: 'navbar-brand' %>
                </li>
                <li　class="btn1">
                  <%= link_to "ログアウト",destroy_admin_session_path,method: :delete,class: 'navbar-brand' %>
                </li>
              </ul>
            </div>
          <% end %>





        </div>
      </div>

    </header>
    <%= yield %>
  </body>
</html>
